streamlit
pandas
numpy
scikit-learn
joblib
requests
tldextract
python-dotenv
fastapi
uvicorn
pydantic

# Flask
# scikit-learn
# pandas
# numpy
# joblib
# requests
# dnspython
# beautifulsoup4
# tldextract
# python-whois
# gunicorn

# gunicorn app:app